body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
  }

.app{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-gap: 10px;
}

.mainTitle{
    font-size: 1.5em;
    margin: 1%;
    border: 1px dotted black;
    padding: 1%;
}

.subtitles{
    font-size: 0.7em;
    color: gray;
    font-style: italic;
    padding-top: 1%;
}

svg {
    width: 100%;
    max-width: 500px;
    border: 1px solid black;
}

.version {
    font-size: 0.7em;
    font-style: italic;
    color: gray;
}